<div class="row" style="border:2px solid blue">
    <p style="Color:blue"> shopping-list-component</p>

    <div class="col-xs-10">
        <!-- edit component -->
        <app-shopping-edit></app-shopping-edit>
        <hr>

        <!-- shopping cart -->
        <ul class="list-group">
            <a 
                class="list-group-item"
                style="cursor:pointer"
                *ngFor="let ingredient of (ingredients | async).ingredients; let i= index"
                (click)="onEditItem(i)"
            >
                {{ingredient.name}}({{ingredient.amount}})
            </a>
        </ul>  
  </div>
</div>